<!-- Header -->
<header id="header">
	<div class="inner">
	<!-- Logo -->
		<a href="index.html" class="logo">
			<span class="symbol"><img src="images/jess-the-maker-horizontal.svg" alt="" /></span>
		</a>
	<!-- Nav -->
		<nav>
			<ul>
				<li><a href="#menu">Menu</a></li>
			</ul>
		</nav>
	</div>
</header>

<!-- Menu -->
<nav id="menu">
	<h2>Projects</h2>
	<ul>
		<li><a href="topographic-ipa.html">Topographic IPA Series</a></li>
		<li><a href="infinity-boxing.html">Infinity Boxing</a></li>
		<li><a href="trash-talk-diaries.html">Trash Talk Diaries</a></li>
		<li><a href="ithaca-kombucha-co.html">Ithaca Kombucha Kit</a></li>
		<li><a href="find-a-need.html">Find a Need and Fill It</a></li>
		<li><a href="local-liquid.html">Local Liquid</a></li>
		<li><a href="tacoholic.html">Tacoholic</a></li>
		<li><a href="cheers-to-4-years.html">Cheers to 4 Years</a></li>
		<li><a href="airstream-living.html">Airstream Living</a></li>

	</ul>
</nav>